{% extends 'bootstrap/base.html' %}
{% block head %}
    <!--BOotstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% block metas %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background: url(/static/bg.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section {
    margin:5% 5% 5% 5%;
    background-color:white;
    float:center;
    width:90%;
    height:100%;
    padding:10px;
    display:block;
}
.bgw{
    margin:5% 5% 5% 5%;
    background-color:white;
    float:center;
    padding:10px;
    display:block;

}
.img1{
    width:90%;
    /*height:90%;*/
}
</style>
{% endblock metas %}

{% endblock %}

{% block content %}
     <section>
    <strong><h1 align="center">Items</h1></strong>
    {% for item in items %}
    {% if item  %}
    <div class="row" align="center">
        <a href='http://mdiana.pythonanywhere.com/view_item/{{item.id}}'>
            <div class="col-xs-12 col-md-12">
                <strong>{{item.name}}</strong>
                <br>
                {{item.price}} lei
                <br>
                <img src="{{item.photo}}" class="img1">
                <hr>
            </div>
        </a>
    </div>
    {% endif %}

    {% endfor %}

    </section>


{% endblock %}
