{% extends 'bootstrap/base.html' %}
{% block head %}
    <!--BOotstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% block metas %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background: url(/static/bg.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg1{
    background:white;
    width:90%;
    height:30%;
    display:inline;
}
section {
    margin:5% 5% 5% 5%;
    background-color:white;
    float:center;
    width:90%;
    height:90%;
    padding:5%;
}

.img1{
    width:40%;
    /*height:90%;*/
}
</style>
{% endblock metas %}

{% endblock %}

{% block content %}
<body>
    <section>
        <div class="row bg1">
            <!--<div class="col-md-4 col-sm-3" align="center">-->
            <!--    <h2>{{item.name}}</h2>-->
            <!--</div>-->
            <div>
                <h2>{{item.name}}</h2>
            </div>
            <div align="right">
                Price: {{item.price}} lei
            </div>
            <div align=center>
                <img src='{{item.photo}}' class="img1">
            </div>
            <div>
                <h3>Product description:</h3>
                {{item.item_description}}
            </div>
        </div>
    </section>
</body>
{% endblock %}